{% extends 'base.html.twig' %}

{% block title %}Laisser un avis | MyExperiences{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <section class="card app-card">
                <div class="card-body p-4 p-lg-5">
                    <h1 class="h3 mb-3">Laisser un avis</h1>
                    <p class="text-muted">Votre retour sur <strong>{{ experience.title }}</strong></p>

                    {{ form_start(reviewForm) }}
                        {{ form_row(reviewForm.rating) }}
                        {{ form_row(reviewForm.comment) }}
                        <button class="btn btn-primary" type="submit">Publier mon avis</button>
                    {{ form_end(reviewForm) }}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
